@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

/* Top-Navbar-info CSS */
.top-navbar-info {
    background-color: #ffa500;
    color: #ffffff;
}

.megaphone-img {
    width: 50px;
    height: 50px;
    animation: pulseFade 3s infinite ease-in-out;
}

@keyframes pulseFade {
    0%, 100% {
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
}

.btn-toggle {
    background-color: #ffa500;
    border: none;
    color: #fff;
    width: 100%;
    text-align: center;
}

.dropdown-menu {
    background-color: #ffa500;
    z-index: 1050; /* Ensures dropdown is in front of other elements */
    position: absolute; /* Positions the dropdown correctly */
    border: none !important;
    outline: none !important;;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    background-color: #ffa500;
    color: #ffffff;
}

@media (max-width: 768px) {
    .top-navbar-info .dropdown {
        display: flex;
        justify-content: center;
    }
}

/* Navbar CSS */
.navbar-brand img {
    width: 150px;
    height: auto;
}

.navbar-nav .nav-item .nav-link {
    margin-right: 20px;
}

.btn-enroll {
    background-color: #6f42c1;
    color: white;
    border-radius: 20px;
    padding: 8px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-enroll:hover {
    background-color: #6610f2;
    transform: scale(1.1);
    color: white;
}

.navbar-toggler-btn {
    padding: 8px 16px;
    border-radius: 50%;
    background-color: #f8f9fa;
    color: #6f42c1 !important;
    border: none;
}


.btn-close-custom {
    width: 40px;
    height: 40px;
    background-color: #6f42c1;
    color: white !important;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.btn-close-custom:hover {
    background-color: #6610f2;
}
